name: Valid YAML syntax

on: 
  push:
    branches: 
      - 'main'
    paths:
      - "data/*.yaml"
      - "profiles/**.yaml"
  pull_request:
    paths:
      - "data/*.yaml"
      - "profiles/**.yaml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate-yaml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.2
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: step-security/changed-files@95b56dadb92a30ca9036f16423fd3c088a71ee94 # v46.0.5
        with:
          files: |
            data/*.yaml
            profiles/*.yaml
            
      - name: Validate YAML file
        if: steps.changed-files-excluded.outputs.any_changed == 'true'
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            yamllint -d relaxed -f parsable ${file}
          done
